.buildlog
.pub/
build/
packages
.packages
*.dart.js
*.js_
*.js.deps
*.js.map
workspace.xml
Dart_Packages.xml
.DS_Store
.idea/
*.aqueduct.pid
*.iml
config.yaml
.dart_tool
api.json
client.html
database.yaml
specfile.json
specfile.yaml